*.pyc
Pipfile
Pipfile.lock
setup.bat
logs/
kindlecomicconverter/sentry.py
other/windows/kindlegen.exe
dist/
build/
KindleComicConverter.egg-info/
.vscode/
.idea/
/venv/
/kindlegen.exe
userprofiles.csv
